.map-page {
  height: calc(100vh - #{$header-height});
  position: relative;

  &.hover {
    cursor: pointer;
  }

  .legend-button {
    background: white;
    cursor: pointer;
    padding: 5px;
    position: absolute;
    right: 10px;
    top: $legend-top;
  }
}
