.map-page {
  height: 100vh;
  position: relative;

  &.hover {
    cursor: pointer;
  }

  .legend-button {
    background: $pink;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: 600;
    padding: 5px;
    position: absolute;
    right: $legend-right;
    text-align: center;
    text-transform: capitalize;
    top: $legend-top;
    width: 150px;
    z-index: 15;
  }
}
