.bus-menu {
  @include overlay();
  left: 20px;
  bottom: $footer-height + 20px;
  width: 400px;
  max-width: 80%;

  .bus-menu-header {
    @include overlay-header();
  }

  .bus-menu-body {
    padding: 10px;
  }

  .bus-menu-close {
    @include overlay-close;
  }

  .bus-menu-left {
    float: left;
    width: 50%;
  }

  .bus-menu-right {
    float: left;
    width: 50%;
  }

  @include respond-to('small') {
    .bus-menu-left,
    .bus-menu-right {
      float: none;
      width: 100%;
    }
  }

  .bus-menu-item {
    margin: 10px 0;
  }

  .bus-menu-label {
    background: $gray;
    border-radius: 5px;
    color: white;
    display: inline-block;
    padding: 3px;
    text-align: center;
    width: 150px;
  }

  input {
    margin-right: 5px;
  }

  .bus-route-toggle {
    color: $gray;
    margin-top: 3px;

    input {
      margin-right: 5px;
    }
  }
}
