$footer-buttons-width: 225px;
$footer-buttons-width-small: 195px;

footer {
  background: $dark-blue;
  color: white;
  height: $footer-height;

  .bottom-buttons {
    height: 100%;
    float: left;
    width: $footer-buttons-width;

    @include respond-to('small') {
      width: $footer-buttons-width-small;
    }

    img {
      max-height: 100%;
    }
  }

  .scale-button {
    cursor: pointer;
    display: inline-block;
    height: $footer-height * 0.8;
    margin-top: $footer-height * 0.1;
    margin-left: 25px;

    @include respond-to('small') {
      margin-left: 10px;
    }
  }

  .bus-button {
    cursor: pointer;
    display: inline-block;
    height: $footer-height * 0.8;
    margin-top: $footer-height * 0.1;
    margin-left: 25px;

    @include respond-to('small') {
      margin-left: 10px;
    }
  }

  .footer-text {
    float: left;
    line-height: 16px;
    padding: 10px;
    text-align: center;
    width: calc(100% - #{$footer-buttons-width});

    @include respond-to('small') {
      font-size: 12px;
      line-height: 12px;
      padding: 5px;
      width: calc(100% - #{$footer-buttons-width-small});
    }
  }
}
