.legend {
  background: white;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  right: $legend-right;
  top: $legend-top;
  width: 200px;
  max-width: 90%;

  .legend-close {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
  }
}
