$legend-border-radius: 5px;

.legend {
  @include overlay();
  right: $legend-right;
  top: $legend-top;
  width: 350px;
  max-width: 80%;

  .legend-close {
    @include overlay-close;
  }

  .legend-header {
    @include overlay-header();
  }

  .legend-body {
    max-height: 80vh;
    overflow-y: auto;
    padding: 10px 15px;
  }

  .legend-lane-types {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .lane-type {
    margin: 20px 0;

    &-name {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 5px;
    }

    &-description {
      font-weight: 300;
      line-height: 16px;
      margin-bottom: 5px;
    }

    &-symbol {
      background: gray;
      height: 8px;
      width: 25%;

      &.bike-route {
        background: #F253B2;
      }

      &.bike-lane {
        background: $pink;
      }

      &.bike-trail {
        background: repeating-linear-gradient(to right,
          white,
          white 10px,
          #E1026F 10px,
          #E1026F 20px
        );
      }

      &.duval-loop {
        background: $duval-loop-color;
      }

      &.bus-route {
        background: $bus-route-color;
        height: 4px;
      }

      &.harbor-walk {
        background: $harbor-walk-color;
      }
    }
  }

  .bus-route-toggle {
    color: $gray;
    margin-top: 3px;

    input {
      margin-right: 5px;
    }
  }
}
