.logo {
  position: absolute;
  left: 50px;
  top: 10px;
  width: 175px;
  z-index: 10;

  @include respond-to('small') {
    width: 125px;
  }

  img {
    max-width: 100%;
  }
}

.embed .logo {
  left: 0;
  width: 160px;
}
