.popup {
  background-color: $pink;
  bottom: 0;
  color: white;
  height: $footer-height;
  max-height: $footer-height;
  left: 0;
  overflow: hidden;
  position: absolute;
  text-align: center;
  width: 100%;

  h2 {
    color: white;
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 10px;
  }

  .popup-close {
    @include overlay-close();
  }

  .popup-inner {
    padding: 5px;
  }
}
