$overlay-border-radius: 5px;

@mixin overlay() {
  background: rgba(255, 255, 255, 0.95);
  border-radius: $overlay-border-radius;
  position: absolute;
  z-index: 15;
}

@mixin overlay-header() {
  background: $pink;
  border-top-left-radius: $overlay-border-radius;
  border-top-right-radius: $overlay-border-radius;
  color: white;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

@mixin overlay-close {
  color: white;
  cursor: pointer;
  font-size: 24px;
  line-height: 24px;
  margin-right: 5px;
  margin-top: 5px;
  position: absolute;
  right: 5px;
  top: 5px;
}

@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(type-of($raw-query) == 'string', unquote($raw-query), inspect($raw-query));

    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
         + 'Please make sure it is defined in `$breakpoints` map.';
  }
}
