// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


$max-width: 1600px !default;

$font-stack-main: 'Signika', sans-serif !default;

$color-base: #000 !default;

$footer-height: 60px;

$legend-right: 50px;
$legend-top: 10px;

$depth-1: 1 !default;
$depth-2: 2 !default;
$depth-3: 3 !default;
$depth-4: 4 !default;
$depth-5: 5 !default;
$depth-10: 10 !default;
$depth-100: 100 !default;
$depth-max: 99999999 !default;

$blue: #4793D0;
$dark-blue: #343D4C;
$gray: #B7B7B7;
$pink: #ED247C;
$bus-route-color: #41A4F7;
$duval-loop-color: #3D86C3;
$harbor-walk-color: #F8D113;

$breakpoint-medium: 1024px !default;
$breakpoint-small: 767px !default;

$breakpoints: (
  'medium': (max-width: $breakpoint-medium),
  'small': (max-width: $breakpoint-small),
  'retina': (max-width: $breakpoint-small)
);

$bus-colors: (
  'blue': rgb(20, 138, 255),
  'duval-loop': rgb(124, 115, 255),
  'green': rgb(28, 196, 22),
  'lower-keys-shuttle': rgb(237, 40, 211),
  'orange': rgb(255, 164, 8),
  'red': rgb(255, 28, 20)
);
